<div class="main-wrapper logincont">

            <div class="login-bg">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1 ">
                        <div class="login-box">
                            <h4 class="text-center mt-10 mb-20">AgVantage Login Portal</h4>

                            <form action="index.html">
                            	<div class="form-group">
                            		<label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Enter Your Email Id" autocomplete="off" >
                            	</div>
                            	<div class="form-group">
                            		<label for="exampleInputPassword1">Password</label>
                            		<input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Password">
                            	</div>

                                <div class="form-group ">
                                    <div class="checkbox pull-left">
                                        <label>
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>
                                    <div class="text-center pull-right"><a href="#" class="form-link "><small class="muted-text">Forgot Password?</small></a> </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-group mt-20">
                                    <div class="">

                                       <!--  <a ui-sref="signup" class="form-link"><small class="muted-text">Register?</small></a> -->
                                       <button type="submit" class="btn btn-primary btn-labeled pull-right" ui-sref="signup">Create Account<span class="btn-label btn-label-right"><i class="fa fa-user"></i></span></button>
                                        <button type="submit" class="btn btn-success btn-labeled pull-left">Sign in<span class="btn-label btn-label-right"><i class="fa fa-check"></i></span></button>

                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <!-- /.login-box -->
                    </div>
                    <!-- /.col-md-6 col-md-offset-3 -->

                    <div class="col-md-offset-2 col-md-2  paneldesign">
                                        <div class="panel panel-info" data-panel-control data-sortable="true">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <h5>Reason our customer choose us </h5>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                            <div ng-repeat="reason in reasons" class="spacing">
                                            <span><i class={{reason.img}}></i></span>&nbsp <span>{{reason.why}}</span>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /. -->

        </div>
        <!-- /.main-wrapper -->
