<div class="row checkbox">
	<div class=" col-md-6">
		<label> <input type="checkbox"> I accept <a href="#"
			class="color-primary">terms & conditions</a>
		</label>
	</div>
	<button type="submit" class="btn btn-info pull-right">Next</button>
	<button type="submit" class="btn btn-info pull-right">Previous</button>
</div>
