<div class="row ">
    <div class="col-md-6">
        <div class="panel1">
            <div class="panel-heading">
                <div class="panel-title">
                    <strong><h4> Business Details </h4></strong>
                </div>
            </div>
            <div class="panel-body1">
                <form class="col-md-10 ">
                    <div class="form-group">
                        <label for="name">Business Type</label> <input type="text"
                                                                       class="form-control" id="name"
                                                                       placeholder="Enter Business type">
                    </div>
                    <div class="form-group">
                        <label for="username">Ware House Address</label>
                        <textarea rows="4" cols="50" class="form-control" id="username"
                                  placeholder="Enter Desired Username">
                            </textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Location</label> <input
                        type="email" class="form-control" id="exampleInputEmail1"
                        placeholder="Geo location">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Transportation Charges</label>
                        <input type="password" class="form-control"
                               id="exampleInputPassword1" placeholder="Enter Transportation charge">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Minimum Bid</label>

                        <select name="title value" class="form-control">
                            <option value="select" selected class="btn"></option>
                            <option value="Mr." class="btn">1 ton</option>
                            <option value="Ms." class="btn">2 ton</option>
                            <option value="Ms." class="btn">10 ton</option>
                        </select>
                        <br><br>
                    </div>

                    <button type="submit" class="btn btn-info pull-right">Next</button>
                    <button type="submit" class="btn btn-info pull-right">Previous</button>
                </form>
            </div>
        </div>
    </div>
</div>
