<div class="row ">

    <div class="col-lg-6">
        <div class="panel1">
            <div class="panel-heading">
                <div class="panel-title">
                    <strong><h4> Service Type </h4></strong>
                </div>
            </div>

        <div class="form-group">
			<span class="input-group"> <input type="radio" name="radion1"
                                              placeholder="Gold   - Yearly Premium Service with all access"
                                              aria-label="Radio button for following text input"> Gold -
				Yearly Premium Service with all access
			</span>
        </div>
        <div class="form-group">
			<span class="input-group"> <input type="radio" name="radion1"
                                              placeholder="Gold   - Yearly Premium Service with all access"
                                              aria-label="Radio button for following text input"> Silver -
				Yearly Service with Partial access
			</span>
        </div>
        <div class="form-group">
			<span class="input-group"> <input type="radio" name="radion1"
                                              placeholder="Gold   - Yearly Premium Service with all access"
                                              aria-label="Radio button for following text input"> Bronze -
				Yearly Service with Limited access
			</span>
        </div>

            <button type="submit" class="btn btn-info pull-right">Next</button>
            <button type="submit" class="btn btn-info pull-right">Previous</button>
    </div>
    </div>

</div>
