<div class="row ">

    <div class=" col-lg-6">
        <div class="panel1">
            <div class="panel-heading">
                <div class="panel-title">
                    <strong><h4> Payment Options</h4></strong>
                </div>
            </div>
            <div class="input-group">
			<span class="input-group"> <input type="radio"
                                              placeholder="Gold   - Yearly Premium Service with all access"
                                              aria-label="Radio button for following text input"> Standard
				Payment Mode
			</span>
            </div>
            <div class="input-group">
			<span class="input-group"> <input type="radio"
                                              placeholder="Gold   - Yearly Premium Service with all access"
                                              aria-label="Radio button for following text input"> Online
			</span>
            </div>
            <div class="input-group">
			<span class="input-group"> <input type="radio"
                                              placeholder="Gold   - Yearly Premium Service with all access"
                                              aria-label="Radio button for following text input"> Credit
				Card
			</span>
            </div>
            <div class="input-group">
			<span class="input-group">

                <input type="radio"
                                              placeholder="Gold   - Yearly Premium Service with all access"
                                              aria-label="Radio button for following text input"> Others
				type
			</span>
            </div>

            <br>

            <h4> Tearms and Condition </h4>
            <div class="form-group">
                <label> <input type="checkbox"> I accept <a href="#"
                                                            class="color-primary">terms & conditions</a>
                </label>
            </div>
            <button type="submit" class="btn btn-info pull-right">Create User</button>
            <button type="submit" class="btn btn-info pull-right">Previous</button>
        </div>
    </div>

</div>
