<div class="row ">
    <div class="col-md-6">
        <div class="panel1">

            <div class="panel-heading">
                <div class="panel-title">
                    <strong><h4> User Details </h4></strong>
                </div>
            </div>

            <div class="panel-body1">

                <form class="p-20">

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="name13">Title</label>
                                <select name="title value" class="form-control">
                                    <option value="Mr." class="btn" selected>Mr.</option>
                                    <option value="Ms." class="btn">Ms.</option>
                                    <option value="Others" class="btn">Others</option>
                                </select>
                                <br><br>
                            </div>
                        </div>
                        <!-- /.col-md-6 -->

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="username13">Firstname</label>
                                <input type="text" class="form-control" id="username13"
                                       placeholder="Enter Desired Username">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="username13">Lastname</label>
                                <input type="text" class="form-control" id="username13"
                                       placeholder="Enter Desired Username">
                            </div>
                        </div>
                        <!-- /.col-md-6 -->
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail13">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail13"
                                       placeholder="Enter Your Email Id">
                            </div>
                        </div>
                        <!-- /.col-md-6 -->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="contact13">Contact Number</label>
                                <input type="text" class="form-control" id="contact13"
                                       placeholder="Enter Your Mobile Phone Number">
                            </div>
                        </div>
                        <!-- /.col-md-6 -->
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword13">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword13"
                                       placeholder="Enter Strong Password">
                            </div>
                        </div>
                        <!-- /.col-md-6 -->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword14">Confirm Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword14"
                                       placeholder="Confirm your password">
                            </div>
                        </div>
                        <!-- /.col-md-6 -->
                    </div>


                    <h5 class="underline mt-30">Address Details</h5>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="addr">Street Address</label>
                                <input type="text" class="form-control" id="addr"
                                       placeholder="Enter Your Street Address">
                            </div>
                        </div>
                        <!-- /.col-md-12 -->
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" placeholder="Enter Your City">
                            </div>
                        </div>
                        <!-- /.col-md-6 -->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" id="state" placeholder="Enter Your State">
                            </div>
                        </div>
                        <!-- /.col-md-6 -->
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="country" placeholder="Enter Your Country">
                            </div>
                        </div>
                        <!-- /.col-md-6 -->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="zip">Zip Code</label>
                                <input type="text" class="form-control" id="zip" placeholder="Enter Your Zip Code">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info pull-right">Next</button>
                        <button type="submit" class="btn btn-info pull-right">Previous</button>
                        <!-- /.col-md-6 -->
                    </div>


                    <!-- /.col-md-12 -->


                    <!-- /.col-md-12 -->


                </form>
            </div>
        </div>
    </div>
</div>


