<div class="col-md-8 col-md-offset-2 signupCont">
    <div class="panel1">
        <div class="panel-heading text-center">
            <div class="panel-title">
                <h4 class="text-center mt-10 mb-20">AgVantage Create User Registration</h4>
            </div>
        </div>
        <div class="panel-body">

            <form id="example-form" action="#" novalidate="novalidate">
                <div role="application" class="wizard clearfix" id="steps-uid-1">
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" class="first done" aria-disabled="false" aria-selected="false"><a id="steps-uid-1-t-0" ui-sref=".step1" aria-controls="steps-uid-1-p-0"><span class="number">1.</span> User Details</a></li>
                            <li role="tab" class="disabled" aria-disabled="false" aria-selected="true"><a id="steps-uid-1-t-1" ui-sref=".step2" aria-controls="steps-uid-1-p-1"><span class="current-info audible">current step: </span><span class="number">2.</span> Business Details</a></li>
                            <li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-1-t-2" ui-sref=".step3" aria-controls="steps-uid-1-p-2"><span class="number">3.</span> Service Type</a></li>
                            <li role="tab" class="disabled last" aria-disabled="true"><a id="steps-uid-1-t-3" ui-sref=".step4" aria-controls="steps-uid-1-p-3"><span class="number">4.</span> Payment Option</a></li>
                        </ul>
                    </div>
                    <div class="content1 clearfix">

                       <ui-view></ui-view>


                                            </div>


                    <!-- <div class="actions clearfix">
                        <ul role="menu" aria-label="Pagination">
                            <li class="" aria-disabled="false"><a href="#previous" role="menuitem">Previous</a></li>
                            <li aria-hidden="false" aria-disabled="false"><a href="#next" role="menuitem">Next</a></li>
                            <li aria-hidden="true" style="display: none;"><a href="#finish" role="menuitem">Finish</a></li>
                        </ul>
                    </div> -->
                </div>
            </form>

                 </div>
            <!-- /.col-md-12 -->
        </div>
    </div>
    <!-- /.panel -->
</div>
